<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title- 后台系统</title>
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css" />
    <link rel="stylesheet" href="~/Content/Base.css" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">Demo 后台系统</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            @Html.Partial("_TopMenu")

            @Html.Partial("_UserMenu")
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                @Html.Partial("LeftMenu/_LeftMenu")
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                @RenderBody()
            </div>
        </div>
        
        @Html.Partial("_Footer")
    </div>
    <script type="text/javascript" src="~/Scripts/layui/layui.all.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
